* {
    margin: 0px;
    padding: 0px;
}
body {
   background-color: rgb(34, 154, 202);
}

header{
    background-color: rgba(17, 169, 189, 0.616);
    color: white;
    font-size: 30px;
    border-bottom: solid 2px rgba(34, 211, 235, 0.616);
    padding: 20px;
}