* {
    margin: 0px;
    padding: 0px;
}
body {
   background-color: rgba(54, 154, 179, 0.616);
   color: white;
}

header{
    background-color: rgba(54, 154, 179, 0.616);
    color: white;
    font-size: 30px;
    border-bottom: solid 2px rgba(54, 154, 179, 0.616);
    padding: 20px;
}
.chamada{
    display: flex;
    justify-content: center;
    background-color:  rgb(190, 220, 231);
}
.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 30px;
}

.boasvindas{
    font-size: 20px;
    padding: 30px;
    padding-bottom: 30px;
}